html
  head
    title "SimpleGame"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#main
      div#header
        p.title "SimpleGame"
        div.separator
        div#player-container
      div.content
        div#game-chat
        div#stage
      div#loading-overlay.overlay
        div.loading-content
          div.spinner
            div.dot1
            div.dot2
      script.
        console.log("test");
script(src='/javascripts/game.js')